
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Test</h1>
    <h3>Burası kendi oluşturduğumuz view sayfasıdır.</h3>

    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Departmant</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Gokmen</td>
            <td>Müdür</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ahmet</td>
            <td>Müdür yardımcısı</td>
        </tr>
    </table>
</div>